@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,900;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

header, aside, footer {
    padding: 1rem;
}

header {
    background-color: #3ab397;
    font-size: 3rem;
}

aside {
    background-color: #95d5cf;
}

main {
    margin: 1em 0;
}

article {
    border: solid 1px #247e9d;
    text-align: center;
}

footer {
    background-color: #247e9d;
}



@media screen and (min-width:800px) {


}
